.switcher {
  button {
    width: 110px;
    height: 25px;
    border-radius: 0px;
  }
  button.active {
    background-color: burlywood;
    outline: none;
  }
  margin: 20px;

  #config {
    display: inline-grid;
    position: absolute;
    top: 0;
    right: 0;

    h5 {
      margin: 0;
      font-size: 14px;
    }

    div {
      margin-top: 3px;
    }

    div label {
      font-style: italic;

      &:after {
        content: ':';
      }
    }

    div div label {
      font-style: normal;
      padding-left: 5px;

      &:after {
        content: '';
      }
    }

    input {
      width: 60px;
      float: right;
      margin-left: 10px;
    }
  }
}